{# src/LFDPP/AdminBundle/Resources/views/Front/index.html.twig #}
{% extends "base.html.twig" %}


{% block title %}
  Bienvenue sur le Site du gîte de Lafoliedepapierre
{% endblock %}

{% block content %}
  <h1>This is front Homepage of website </h1>
  <p>Lot of text in it</p>
{% endblock %}