<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block footer %}{% endblock %}

        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.flashes('notice') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}

    </body>
</html>
