{% extends "::base.html.twig" %}

{% block title %}AdminBundle:Admin\Forms\PriceType:add{% endblock %}

{% block body %}
{# src/LFDPP/AdminBundle/Resources/views/Admin/Forms/PriceType.html.twig #}

<h3>Formulaire de création Price Type</h3>

<div class="well">
  {{ form(form) }}
</div>
{% endblock %}
