{% extends '@Admin/Admin/index.html.twig' %}

{% block body %}
    <h1>Message creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-success" />
    {{ form_end(form) }}

    <div>
        <a href="{{ path('admin_form_messages') }}" class="btn btn-primary">Back to the list</a>
    </div>
{% endblock %}
