{# src/LFDPP/AdminBundle/Resources/views/Admin/Entity/PriceType/view.html.twig #}
{% extends "@Admin/Default/index.html.twig" %}

{% block content %}

<h1>
  {% if price_type %}
    {{ price_type.type }} correspond a {{ price_type.days }} jours
  {% else %}
    Pas de price Type trouvé.
  {% endif %}
</h1>

<a href="{{ path('admin_form_price_type') }}">Revenir à l'écran d'accueil</a>

{% endblock %}