{# src/LFDPP/AdminBundle/Resources/views/Admin/Entity/MessageType/index.html.twig #}
{% extends "@Admin/Default/index.html.twig" %}

{% block content %}

<ul>
  {% for message_type in messages_type %}
    <li>
    <div>
    {{ message_type.name }} - 
    <a href="{{ path('admin_form_message_type_edit', {'id': message_type.id}) }}">Edit this message Type</a>
    <a href="{{ path('admin_form_message_type_delete', {'id': message_type.id}) }}">Delete this message Type</a>
    </div>
    </li>
  {% else %}
    <li>Pas de Messsage Type trouvé.</li>
  {% endfor %}
</ul>

<div>
  <a href="{{ path('admin_form_message_type_add') }}">Add new Message Type</a>
</div>

  {% endblock %}