{# src/LFDPP/AdminBundle/Resources/views/Admin/Entity/PriceType/view.html.twig #}
{% extends "@Admin/Default/index.html.twig" %}

{% block content %}

<h1>
  {% if price %}
     {{ price.name }} correspond a {{ price.value }} €<br>
     il est de type : {{ price.type.type }}     
  {% else %}
    Pas de price Type trouvé.
  {% endif %}
</h1>

<a href="{{ path('admin_form_price') }}">Revenir à l'écran des Prices</a>

{% endblock %}